@tailwind base;
@tailwind components;
@tailwind utilities;

.anim {
  &-scale {
    transform: scale(0);
    &.anim-active {
      transition: 0.5s ease all;
      transform: scale(1);
    }
  }
}

.bg-purple-skew {
  position: absolute;
  right: 0;
  top: -532px;
  width: 750px;
  height: 1600px;
  z-index: -1;
  transform: skew(-65deg);
}