@tailwind base;
@tailwind components;
@tailwind utilities;

.anim {
  &-scale {
    transform: scale(0);
    &.anim-active {
      transition: 0.5s ease all;
      transform: scale(1);
    }
  }
}

.fix-anim {
  position: absolute;
  top: 0;
  left: 0;
  height: 630px;
  @media (max-width: 768px) {
    position: inherit;
    height: inherit;
  }
}

.anim__fade-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: 2.5s ease all;
  &.anim-active {
    opacity: 1;
    transform: translateX(0);
  }
}