@tailwind base;
@tailwind components;
@tailwind utilities;

.anim {
  &-scale {
    transform: scale(0);
    &.anim-active {
      transition: 0.5s ease all;
      transform: scale(1);
    }
  }
}

.fix-anim {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
}

.screen {
  width: 300px;
  height: 450px;
  background-color: #1a1919;
  position: absolute;
  top: 100px;
  right: 250px;
  transform: skew(-45deg);
  border-radius: 15px;
  z-index: 2;
  &:before {
    content: '';
    width: 100px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    border-radius: 20px;
    z-index: 4;
  }
  &:after {
    content: '';
    width: calc(100% - 20px);
    height: calc(100% - 13px);
    background-color: white;
    position: absolute;
    left: 7px;
    top: 5px;
    border-radius: 15px;
    z-index: 3;
  }
}

.iphone-wrapper {
  height: 600px;
}

.iphone {
  width: 300px;
  height: 453px;
  background-color: rgb(104, 104, 172);
  position: absolute;
  top: 124px;
  right: 233px;
  transform: skew(-45deg);
  border-radius: 15px;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    background-color: rgb(104, 104, 172);
    right: 18px;
    top: -13px;
    width: 46px;
    height: 42px;
    z-index: 2;
    transform: rotate(27deg);
  }
  &:after {
    content: '';
    position: absolute;
    background-color: rgb(104, 104, 172);
    left: -22px;
    bottom: 13px;
    width: 53px;
    height: 46px;
    z-index: 2;
    transform: rotate(123deg);
  }
}

.imessage_head {
  width: 284px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 105px;
  right: 79px;
  transform: skew(-45deg);
  z-index: 3;
  &:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 30px;
    background-color: white;
    border-radius: 100%;
  }
}

.imessage_bottom {
  width: 284px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 482px;
  right: 449px;
  transform: skew(-45deg);
  z-index: 3;
  &:before {
    content: '';
    width: 194px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
    position: absolute;
    right: 20px;
    top: 16px;
  }
}

.imessage {
  width: 200px;
  height: 132px;
  background-color: lavender;
  position: absolute;
  top: 329px;
  right: 348px;
  transform: skew(-45deg);
  border-radius: 15px;
  font-size: 10px;
  padding: 12px;
  z-index: 4;
  box-shadow: 1px 1px rgba(255,255,255,0.3);
  &.anim-active {
    animation: flymessage 5s 3s forwards;
  }
}

.anim-text {
  opacity: 0;
  &.anim-active {
    animation: fadeIn 1s 8s forwards;
  }
}

.anim__fade-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: 2.5s ease all;
  &.anim-active {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes flymessage {
  0% {
    transform: skew(-45deg);
    opacity: 1;
  }
  30% {
    transform: skew(-35deg) translate(-20px, -20px);
    opacity: 1;
  }
  50% {
    transform: translate(-20px, -20px);
    opacity: 1;
  }
  90% {
    transform: translate(-20px, -20px);
    opacity: 1;
  }
  100% {
    transform: translate(-100px, 40px);
    opacity: 0;
  }
}